.idea/
.vscode/
logs/
go.sum
data.txt
http-test/
*exe
*pprof
*dat
public/
#upload/
*.key
*.yaml
.idea/go-speed.iml

cmd/go-api/go-api
cmd/go-api/go-api-mac
cmd/go-admin/go-admin
cmd/go-api/go-api-mac
cmd/go-job/go-job
cmd/go-job/go-job-mac
cmd/go-upload/go-upload
