.idea/
.vscode/
logs/
go.sum
data.txt
http-test/
*exe
*pprof
*dat
public/
#upload/

*.key
*.yaml
*.toml
.idea/go-speed.iml
.DS_Store
manifest/.DS_Store
manifest/geo/.DS_Store

cmd/go-api/geo
cmd/go-api/go-api
cmd/go-api/go-api-mac
cmd/go-admin/go-admin
cmd/go-admin/go-admin-mac
cmd/go-api/go-api-mac
cmd/go-job/go-job
cmd/go-job/go-job-mac
cmd/go-upload/go-upload
cmd/go-monitor/go-monitor
cmd/go-monitor/go-mac-monitor
cmd/go-collector/go-collector
cmd/go-collector/go-mac-collector
cmd/go-tools/main
cmd/go-user-v2ray-config/go-user-v2ray-config
cmd/go-tools/speedctl
cmd/go-tools/speedctl-mac
cmd/go-executor/executor
